
## README 
# Copy the content of this file into .env file and fill content 

# Database settings
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# JsonWebtoken secrets atleast 32 random chars
JWT_SECRET = 

# Node server settings
CORS_ORIGIN= http://localhost:5173
PORT = 5152

#Development. Comment DEV with # when server goes to production 
DEV = true
DEMO = true
DEBUG = true